@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Monoton);

/*    Reset CSS  */
* { margin:0;  padding:0; }
ol,ul { list-style: none; }
a { outline:0; text-decoration:none; color:#bbb;}
img { border:0;}
body { position:fixed;  width:100%; height:100%; background:#111;}


/* 배경동영상 */
.vid { width:100%; height:100%; position:fixed; top:-60px; left:0px; opacity:0.9; }
.vid video { width:100%; min-width:1600px; }

/*로고*/
h1 { position:fixed; top:40px; left:40px; z-index:10;}
h1 img { width:280px; height:auto;}
header { width:700px; height:100%; position:fixed; top:0px; left:-420px; background:linear-gradient(-45deg,#e6fc55, #b9fb05, #97e031); transform:skewX(-40deg); }

/* 1depth*/
#gnb { 	width:220px; position:absolute; top:150px; right:0px;}
#gnb>li {position:relative; }
#gnb>li>a { display:block; width:220px; height:50px; font:bold 18px/3 play; color:#222; box-sizing:border-box; padding-right:40px; text-align:right;}
#gnb>li.on>a { background:#111; color:#fff;}
#gnb>li:hover>a { background:#111; color:#fff;}
#gnb em { display:inline-block; transform:skewX(40deg)!important; }
#gnb em i { 	margin-right:20px;}

/* 2depth */
#gnb ul { position:absolute; left:0px;  top:0px; opacity:0; transition:all 0.4s;}
#gnb>li:hover ul { opacity:0.8; left:205px; }
#gnb ul a { display:block; width:150px; height:40px; background:#222; border-bottom:1px solid #b9fb05; font:bold 16px/2.5 arial; color:#fff; box-sizing:border-box; padding-left:50px; margin-bottom:3px; transition:all 0.5s; }
#gnb ul a:hover { background:#b9fb05; color:#333; }
#gnb>li.on ul { opacity:0.8; left:205px; top:-10px; }
#gnb li.on ul a { background:#444; opacity:0.7; } 

/* sns 버튼 모음*/
#sns { position:fixed; top:60px; right:50px;}
#sns li { float:left; margin-right:30px;}
#sns .fa { font-size:25px; color:#b9fb05; opacity:0.5;	transform:scale(1); 	transition:all 0.5s;}
#sns .fa:hover { opacity:1; transform:scale(1.4);}









